<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/branding/isotype.svg" type="image/x-icon">
    <title>Admin | Funkoshop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/admin.css">
   

</head>
<body>


    


    <%- include('../partials/header', { title: title }) %>

    







    <main class="container">






        <section action="" class="section__adm container">
            <img class="section__img" src="../../img/icons/search_icon.svg" alt="Lupa">
            <div class="section__search">
                <input type="search" placeholder="código, nombre o categoria">
            </div>
        </section>
        
        <div class="adm__content">
        <div class="product__list">
            <h1>LISTADO DE PRODUCTOS</h1>
            <div class="add-product">
                <p>AGREGAR</p>
                <a href="/admin/create"><img src="../../img/icons/mdi_plus-box.svg" alt="mas"></a>
            </div>
        </div> 







        <table>

            <thead>


                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Nombre del Producto</th>
                    <th>Categoria</th>
                    <th>   </th>
                    <th>   </th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(product => { %>

                <tr>
                    <td><%= product.product_id %></td>
                    <td><%= product.sku %></td>
                    <td><%= product.product_name %></td>
                    <td><%= product.category_name %></td>
                    <td><a href="/admin/edit/<%= product.product_id %>"><img src="../../img/icons/edit_pencil.svg"></a></td>
                    <td>
                        <button><img src="../../img/icons/delete_trash.svg" alt=""></button>
                        
                    </td>
                </tr>
 
                <% }); %>


            </tbody>
        </table>
        </div>
      
    </main> 

  

 
    <!-- <footer class="footer">

        <nav class="navbar container">    
    <ul class="navbar__iem">
    
        <li class="navbar__item"><a class="navbar__link" href="../shop/shop.html">SHOP</a></li>
        <li class="navbar__item"><a class="navbar__link" href="../admin/register.html">REGISTRARSE</a></li>
        <li class="navbar__item"><a class="navbar__link" href="../admin/login.html">LOGIN</a></li>
        <li class="navbar__item"><a class="navbar__link" href="../contact.html">CONTACTO</a></li>
    
    </ul>
    <picture><img src="../../img/branding/isotype.svg" alt="Isotipode la marca Funkoshop"></picture>
     
        </nav>
    
    
    
    
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy; </p>
    
    </footer> -->

    <%- include('../partials/footer') %>

    <script src="../../js/item.js"></script>
    <script src="../../javascript/menuhamb.js"></script>
</body>

</html>